<div class="date" data-content="date"></div>
<div class="meals">
    <div class="meal">
        <div class="meal-name">З</div>
        <div class="meal-box"></div>
    </div>
    <div class="meal">
        <div class="meal-name">О</div>
        <div class="meal-box"></div>
    </div>
    <div class="meal">
        <div class="meal-name">В</div>
        <div class="meal-box"></div>
    </div>
    <div class="meal">
        <div class="meal-name">У</div>
        <div class="meal-box"></div>
    </div>
</div>
